.container {
  min-height: 100vh;
  background-color: var(--bg-primary);
  padding-bottom: var(--bottom-nav-height);
  position: relative;
}

.content {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
}

.spacer {
  height: 120px;
}
